# Health care: Heart attack possibility

In this project, we will find out the predict the presence of a heart disease based on certain factors.
(The data is taken from Naresh Bhat - Kaggle - https://archive.ics.uci.edu/ml/datasets/Heart+Disease)

We have the following values present in the dataset -

1) age

2) sex: sex (1 = male; 0 = female)

3) chest pain type (4 values)

4) resting blood pressure

5) serum cholestoral in mg/dl

6) fasting blood sugar > 120 mg/dl

7) resting electrocardiographic results (values 0,1,2)

8) maximum heart rate achieved

9) exercise induced angina

10) oldpeak = ST depression induced by exercise relative to rest

11) the slope of the peak exercise ST segment

12) number of major vessels (0-3) colored by flourosopy

13) thal: 0 = normal; 1 = fixed defect; 2 = reversable defect

14) target: 0= less chance of heart attack 1= more chance of heart attack

Target is the dependent/output variable and rest are the features(independent variables)

In [68]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [69]:
import cufflinks as cf
cf.go_offline()

In [70]:
heart = pd.read_csv("heart.csv")

In [71]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [72]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [73]:
heart.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
heart.nunique()

## Exploratory Data Analysis

Let us start by seeing how many people have heart disease in our dataset.
Let us see how spread out our target variable is-

In [ ]:
heart["target"].hist()

Let us now observe how correlated our features are -

In [ ]:
sns.heatmap(heart.iloc[:,:-1].corr())

Let us also check for any null/missing values in our data-

In [ ]:
sns.heatmap(heart.isnull(), yticklabels=False, cbar=False)

Looks like all our values are present

Now we will see how the different features affect the Target variable

In [ ]:
heart.head()

In [ ]:
sns.boxplot(data=heart, y="age",x="target")

In [ ]:
heart.pivot(values="age",columns="target").iplot(kind="box")

We notice that age group - 44 to 59 tend to be battling more heart diseases in general.

Let us now see the relationship between the sex of a person and disease presence

In [ ]:
sns.countplot(x="target", data=heart, hue="sex")

Disease is present in male population more than females

In [ ]:
heart["sex"].value_counts()

But also, we have more male members in our population(almost 70%). So study is more focused on males

Let us now notice the relationship with cholestrol

In [ ]:
heart.pivot(values="chol",columns="target").iplot(kind="box",x="Target", xTitle="Target", yTitle = "Cholestrol" )

People with heart diseases tend to have a higher cholestrol

Now let us see a relationship between all features

In [ ]:
sns.pairplot(
    heart,
    y_vars=["target"],
    kind="kde"
)

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
heart.columns

In [ ]:
X = heart[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']]
y = heart["target"]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [ ]:
model = LogisticRegression()
model.fit(X_train,y_train)

In [ ]:
predictions = model.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:
print(classification_report(y_test,predictions))

In [ ]:
confusion_matrix(y_test, predictions)

In [ ]:
predictions

In [ ]:
y_test

In [ ]:
y_test.iplot(kind="hist")
pd.DataFrame(predictions).iplot(kind="hist")

In [ ]:
_, axes = plt.subplots(ncols=2)
sns.histplot(y_test, ax=axes[0])
sns.histplot(predictions, ax=axes[1])

In [ ]:
y_test

In [ ]:
predictions

## Naive Bayes Theorem

In [ ]:
heart.columns

We have a lot of categorical values. So it is good for Naive Bayes.
Let us check if the few continuous values follow a normal distribution

In [ ]:
heart.head()

In [ ]:
sns.histplot(data=heart,x="age",kde=True)

In [ ]:
sns.histplot(data=heart,x="trestbps",kde=True)

In [ ]:
sns.histplot(data=heart,x="chol",kde=True)

In [ ]:
sns.histplot(data=heart,x="thalach",kde=True)

In [ ]:
sns.histplot(data=heart,x="oldpeak",kde=True)

Most of them appear to be almost gaussian except oldpeak. Let us go ahead and train a Naive Bayes model

In [ ]:
from sklearn.naive_bayes import GaussianNB

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

In [ ]:
nb_model = GaussianNB()

In [ ]:
nb_model.fit(X_train, y_train)

In [ ]:
nb_model.score(X_test, y_test)

In [ ]:
predictions = nb_model.predict(X_test)

In [ ]:
print(classification_report(y_test, predictions))

In [ ]:
confusion_matrix(y_test, predictions)

Even though our model performs pretty well, let us go ahead and removeoldpeak column and check more

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X.drop("oldpeak",axis=1), y, test_size=0.30, random_state=101)

In [ ]:
nb_model2 = GaussianNB()

In [ ]:
nb_model2.fit(X_train, y_train)

In [ ]:
nb_model2.score(X_test, y_test)

In [ ]:
predictions = nb_model2.predict(X_test)

In [ ]:
print(classification_report(y_test, predictions))

In [ ]:
print(confusion_matrix(y_test, predictions))

So our older model works better. A half-normal curve is still considered normal distribution(specail case - folded normal distribtion)

Logistic Regression worked the best in this case!

### End!